<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
{% include "inspections/_pdf_letterhead.html" %}
</head>
<body>

  <table class="header-bar-row">
    <tr>
      <td style="width:33%; text-align:left; font-weight:400;">Test Report No.<br><strong>{{ report.report_no }}</strong></td>
      <td style="width:34%;">
        FORM NO. 9<br>(Prescribed under Rule 58)<br>Report of examination of test of hoists and lifts.
      </td>
      <td style="width:33%; text-align:right; font-weight:400;">Date:<br><strong>{{ report.report_date.strftime('%d-%m-%Y') if report.report_date else '' }}</strong></td>
    </tr>
  </table>

  <table>
    <tr>
      <td style="width:40%;"><strong>Reg. No.:</strong> {{ data.reg_no or '' }}</td>
      <td style="width:30%;"><strong>License No.:</strong> {{ data.license_no or '' }}</td>
      <td style="width:30%;"><strong>NIC Code No.:</strong> {{ data.nic_code or 'NA' }}</td>
    </tr>
  </table>
  <table><tr><td class="header-bar-row" style="text-align:center; font-weight:700;">(As given in the license)</td></tr></table>

  <table>
    <tr>
      <td class="no-col">1.</td>
      <td class="label-col" style="width:32%;">Occupier (or owner) of premises</td>
      <td><strong>{{ data.occupier_name or '' }}</strong></td>
    </tr>
    <tr>
      <td class="no-col">2.</td>
      <td class="label-col">Address</td>
      <td>{{ (data.address or '')|replace('\n', '<br>')|safe }}</td>
    </tr>
    <tr>
      <td class="no-col">3.</td>
      <td class="label-col">a) Type of hoist or lift and identification number of descriptions</td>
      <td>
        <strong>{{ data.hoist_description or '' }}</strong><br>
        {% if data.hoist_make %}Make: {{ data.hoist_make }}<br>{% endif %}
        {% if data.tag_no %}Tag No.: {{ data.tag_no }}<br>{% endif %}
        {% if data.capacity %}Capacity: {{ data.capacity }}<br>{% endif %}
        {% if data.no_of_floors %}Floors: {{ data.no_of_floors }}<br>{% endif %}
        {% if data.location %}Location: {{ data.location }}{% endif %}
      </td>
    </tr>
    <tr>
      <td class="no-col"></td>
      <td class="label-col">b) Date of construction or reconstruction (if ascertainable)</td>
      <td>{{ data.construction_date or '' }}</td>
    </tr>
    <tr>
      <td class="no-col">4.</td>
      <td class="label-col">Are all parts of the hoist or lift of good mechanical construction, sound material and in good working order? If not, state what defect have been found</td>
      <td>{{ data.good_mechanical_order or 'Satisfactory' }}</td>
    </tr>
    <tr><td class="no-col">5.</td><td colspan="2" class="label-col">Are the following parts properly maintained and in good working order? If not, state what defect have been found</td></tr>
    {% for letter, field, label in [
      ('a', 'enclosure_findings', 'Enclosure of hoist \u2013way or lift \u2013way'),
      ('b', 'landing_gates_findings', 'Landing gates and cage gate (s)'),
      ('c', 'interlock_findings', 'Interlock and landing gates and cage gate (s)'),
      ('d', 'other_gate_fastenings', 'Other gate fastenings'),
      ('e', 'cage_platform_findings', 'Cage and platform and fittings guides, buffers, interior of the hoist way or lift way.'),
      ('f', 'overrunning_devices', 'Over \u2013running devices.'),
      ('g', 'suspension_ropes', 'Suspension ropes or chain and their attachment.'),
      ('h', 'safety_gear', 'Safety gear i.e. arrangements for preventing fall of platform or cage brakes.'),
      ('i', 'brakes', 'Brakes'),
      ('j', 'worm_gearing', 'Worm or spur gearing'),
      ('k', 'electrical_equipment', 'Other Electrical Equipment'),
      ('l', 'other_parts', 'Other parts'),
    ] %}
    <tr>
      <td class="no-col">{{ letter }})</td>
      <td class="label-col">{{ label }}</td>
      <td>{{ data.get(field) or 'Satisfactory' }}</td>
    </tr>
    {% endfor %}
    <tr><td class="no-col">6.</td><td class="label-col">What parts (if any) were inaccessible</td><td>{{ data.inaccessible_parts or 'Nil' }}</td></tr>
    <tr>
      <td class="no-col">7.</td>
      <td class="label-col">Repairs, renewal or alterations (if any) required and the period within which they should be executed.</td>
      <td>{{ data.repairs_required or 'Nil' }}</td>
    </tr>
    <tr>
      <td class="no-col">8.</td>
      <td class="label-col">Maximum safe working load subject to repairs renewals or alterations (if any) specified in item 7</td>
      <td>{{ data.max_safe_load or '' }}</td>
    </tr>
    <tr>
      <td class="no-col">9.</td>
      <td class="label-col">Other particulars</td>
      <td>{{ data.other_particulars or data.remarks or 'NA' }}</td>
    </tr>
  </table>

  <p class="cert-para">
    I certify that on <strong>{{ data.certification_date or '' }}</strong> I have thoroughly examine this hoist or lift and the above is a correct report of the result.
  </p>

  <table class="due-sign-table">
    <tr>
      <td style="width:55%;">
        <div class="due-date">NEXT EXAMINATION DUE : {{ data.next_exam_date or '' }}</div>
      </td>
      <td style="width:45%;">
        <div class="sign-name">{{ data.competent_person_name or '' }}</div>
        <div class="sign-title">
          {{ data.competent_person_title or 'Competent Person Declared by Director Industrial Safety & Health' }},<br>
          {{ data.competent_person_state or 'Gujarat' }} State, No: {{ data.competent_person_no or '' }}
        </div>
      </td>
    </tr>
  </table>

</body>
</html>